<div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
<!--     <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="h4 mb-0">60</div>
                    <small class="text-muted text-uppercase font-weight-bold">Tenants</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="h1 text-muted text-right mb-3">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>      
                </div>
                  <div class="progress progress-xs mt-1 mb-0">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-2">
                    <i class="icon-user-follow"></i>
                  </div>
                  <div class="h4 mb-0">385</div>
                  <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                  <div class="progress progress-xs mt-1 mb-0">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-block">
                  <div class="h1 text-muted text-right mb-2">
                    <i class="icon-basket-loaded"></i>
                  </div>
                  <div class="h4 mb-0">1238</div>
                  <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                  <div class="progress progress-xs mt-1 mb-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card">
                <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="h4 mb-0">972</div>
                    <small class="text-muted text-uppercase font-weight-bold">Comments</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="h1 text-muted text-right mb-3">
                            <i class="fa fa-comment-o"></i>
                        </div>
                    </div>      
                </div>
                  <div class="progress progress-xs mt-1 mb-0">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="offset-md-4 col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
            </div>
            <div class="cal-moth-view"> 
                    <mwl-calendar-month-view
                    [viewDate]="viewDate">
                  </mwl-calendar-month-view>
            </div>
        </div>
        <div class="col-lg-5">
                <weather-widget [settings]="settings">
                </weather-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            3
        </div>
        <div class="col-lg-6">
            4
        </div>
    </div>
</div>
