.container {
    width: 100%;
}

.modal-header {
    background-color: #C9302C;
	color: white;
}

.col-4 {
    width: 10%;
  }

  .btn{
    width:38%;
    font-size: 80%;
    font-weight: bold;
    padding-left: 0;
    min-height: 34px;
  }
