<div class="divo">
    <div *ngIf="editing">
        <input #inlineEditControl [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="apart.apartmentName"
               [type]="type" [placeholder]="apart.apartmentName">
    </div>
    <div *ngIf="!editing">
        <!-- <label class="block bold">{{label}}</label> -->
        <div title="Click to edit" (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit">
            {{apart.apartmentName}}&nbsp;
        </div>
    </div>
</div>
