        &nbsp; <button type="button" (click)="open(content)" class = " btn btn-success"><i class="mdi mdi-plus"></i>Add Building</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="mdi mdi-map-marker-plus"></i>&nbsp; Add Building</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
					<form role="form" #f="ngForm" (ngSubmit)="registar(f.value)" >
                    <div class="modal-body form-content">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="container form-inline">								
                                    <div class="col-xs-2">Building Name: &nbsp;</div> <input type="text" name="buildingName" ngModel class="ml-auto col-xs-10 form-control input-underline input-lg text-center" id="">                             
								</div>
							</li>
							<li class="list-group-item">
                                <div class="container form-inline">  							
                                    <div class="col-xs-2"> Address: &nbsp;</div><input type="text" name="address" ngModel class="ml-auto col-xs-10 form-control input-underline input-lg text-center" id="">							
							   </div>							     
							</li>
                            <li class="list-group-item">
                                <div class="container form-inline">
                                        <div class="col-xs-2"> Street number: &nbsp;</div><input type="text" name="streetNo" ngModel class="ml-auto col-xs-10 form-control input-underline input-lg text-center" id="">
                                </div>
                            </li>

							<li class="list-group-item">
                                <div class="container form-inline">					
                                     <div class="col-xs-2"> City: &nbsp;</div><input type="text" name="city" ngModel class="ml-auto col-xs-10 form-control input-underline input-lg text-center" id="">									
								</div>							     
							</li>

                            <li class="list-group-item">
                                <div class="container form-inline">
                                    <div class="row"><div class="col-xs-10"> Number of apartments: &nbsp;</div><input type="text" name="numApp" ngModel class="ml-auto mlC form-control input-underline input-lg text-center" value="1"></div>									
							    </div>
							</li>
                        </ul>

                    </div>
                    <div class="modal-footer">
					    <button type="submit" class="btn btn-success rounded-btn"> Confirm </button>
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
					</form>
                </ng-template>
