<div class="card-group">
    <div *ngFor="let el of array">
        <div (click)="open(content)" class="card card-success margins"
        *ngIf="isFree(el); else elseBranch">
            <div class="card-block">
                <h4 class="text-center card-title">{{el}}</h4>
            </div>
        </div>

        <ng-template #elseBranch>
            <div class="card card-danger margins">
                <div class="card-block">
                    <h4 class="text-center card-title">{{el}}</h4>
                </div>
            </div>
        </ng-template>




        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title"><i class="mdi mdi-map-marker-plus"></i>&nbsp; Book Laundry</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form role="form" #f="ngForm" (ngSubmit)="registar(el, c)">
                <div class="modal-body form-content">
                    Are you sure you want to book the laundry for {{el}}?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success rounded-btn">Confirm</button>
                    <button type="button" class="btn btn-secondary btn-danger" (click)="c('Close click')">Cancel
                    </button>
                </div>
            </form>
        </ng-template>


    </div>
</div>
