<!--The content below is only a placeholder and can be replaced.-->
<!--
<app-header [role]="'guest'"></app-header>

<app-sidebar [role]="'guest'"></app-sidebar>

<div class="row">
  <div class="col-sm-4" *ngFor="let no of number">
    <div class="card card-info card-inverse" >
      <div class="card-header card-info">
        {{ no.num + "."}} Building
      </div>
      <div class="card-block bg-white">
        Addres of building: {{ no.address }}
      </div>
    </div>
  </div>
</div>-->

<!--<app-header [role]="'landlord'"></app-header>

<app-header [role]="'tenant'"></app-header>-->

 <!-- <app-test></app-test> -->
<router-outlet></router-outlet>
