	<div [@routerTransition]>
	 <div class="alert alert-info">
	<div class="container">
	<div class ="row">
	<div class ="col-xs-10">
		<span class="title1"><i class="fa fa-user"></i>
        <strong>&nbsp;Profile</strong></span>
	</div>
	<div class ="ml-auto col-xs-2">
	</div>
	</div>
    </div>
    </div>


	<div class="row">

    </div> 

    <div>
        <div class="row">
            <div class="col-md-3" ></div>
         <div class="col-md-6">
        
        <div class="panel panel-default">
          
           <div class="panel-body">
               
            <div class="box box-info">
                
                    <div class="box-body">
                            <div class="row cow">
                                
                                
                             <div class="col-sm-6 pic">
                             <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                        
                        <input id="profile-image-upload" class="hidden" type="file">
                       <div class="color1"></div>
                        <!--Upload Image Js And Css-->
                         
                      
           
                        
                        
                             
                             
                             </div>
                      
                      <br>
            
                      
                          </div>
                        <div class="col-sm-6">
                    <div class="caption">

                    <h2 class="text-center color2">Joe Doe</h2>
                    
                    <span><p class="text-center">Landlord</p></span> 
                    
                    </div>
                  </div>

                     
                    

                  </div>
                    <div class="clearfix"></div>
                    <!-- <hr style="margin:5px 0 5px 0;"> -->
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
        <div>

            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">First Name:</label>
                <div class="col-1"></div>
                <div class="col-7">
                  <input class="form-control" type="text"  id="example-text-input">
                </div> </div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="form-group row">
                <label for="example-text-input" class="col-4 col-form-label">Last Name:</label>
                <div class="col-1"></div>
                <div class="col-7">
                  <input class="form-control" type="text"  id="example-text-input">
                </div></div>

            <div class="clearfix"></div>
            <div class="bot-border"></div>

            <div class="form-group row">
                    <label for="example-date-input" class="col-4 col-form-label">Date Of Birth:</label>
                    <div class="col-1"></div>
                    <div class="col-7">
                      <input class="form-control" type="date" id="example-date-input">
                    </div>
                  </div>
    
                  <div class="clearfix"></div>
                  <div class="bot-border"></div>

            <div class="form-group row">
                    <label for="example-text-input" class="col-4 col-form-label">Personal Number:</label>
                    <div class="col-1"></div>
                    <div class="col-7">
                      <input class="form-control" type="text"  id="example-text-input">
                    </div></div>
    
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="form-group row">
                        <label for="example-text-input" class="col-4 col-form-label">Username:</label>
                        <div class="col-1"></div>
                        <div class="col-7">
                          <input class="form-control" type="text"  id="example-text-input">
                        </div></div>
        
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="form-group row">
                            <label for="example-text-input" class="col-4 col-form-label">Email:</label>
                            <div class="col-1"></div>
                            <div class="col-7">
                              <input class="form-control" type="text"  id="example-text-input">
                            </div></div>
            
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                    <div class="form-group row">
                            <label for="pwd" class="col-4 col-form-label">Password:</label>
                            <div class="col-1"></div>
                            <div class="col-7">
                             <input type="password" class="form-control" id="pwd">
                             </div></div>
                
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

           
         
                 <div class="row butt">
                   <div class="col-10"></div>
                 <button type="button" class="btn btn-secondary col-2">Update</button>
                 </div>



       
        
        
        
        </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
        
                </div>
               
                    
            </div> 
            </div>
        </div>  
    
           </div>
        </div>
        
        
        
        
                 
    </div>
    
