.container {
    width: 100%;
}

.mlC {
 width: 15%;
}

input, textarea{

	border: 1px solid #5BC0DE;
}

.split {
    width: 35%;
  }
  .btn{
    width:33%;
    font-size: 80%;
    font-weight: bold;
    padding-left: 0;
    min-height: 34px;
  }
