        <i class="mdi mdi-map-marker-plus"></i>
		<button type="button" (click)="open(content)" class = "btn pull-right btn-success" data-toggle="modal" data-target="#addBuilding"><i class="fa fa-plus"></i>&nbsp;Add Building</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Building</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
					<form role="form" #f="ngForm" (ngSubmit)="registar(f.value)" >
                    <div class="modal-body form-content">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row form-inline">
								<div class = "row">
                                    <div class="col-sm">Building Name: &nbsp;</div> <input type="text" name="buildingName" ngModel class=" form-control input-underline input-lg" id="" >
                                </div>
								</div>
							</li>
							<li class="list-group-item">
                                <div class="row form-inline">  
                                <div class = "row">								
                                    <div class="col-sm"> Address: &nbsp;</div><input type="text" name="address" ngModel class=" form-control input-underline input-lg text-center" id="">							
                               </div>
							   </div>							     
							</li>
							<li class="list-group-item">
                                <div class="row form-inline">
                                <div class="row">								
                                     <div class="col-sm"> City: &nbsp;</div><input type="text" name="city" ngModel class="form-control input-underline input-lg text-center" id="">									
                                </div>
								</div>							     
							</li>
                            <li class="list-group-item">
                                <div class="row form-inline">
								<div class = "row">
                                    <div class="col-sm"> Apartments: &nbsp;</div><input type="text" name="numApp" ngModel class=" col-sm-4 form-control input-underline input-lg text-center" value="1">									
                                </div>
							    </div>
							</li>
                        </ul>
					
                    </div>
                    <div class="modal-footer">
					    <button type="submit" class="btn btn-success rounded-btn" (click)="c('Close click')"> Confirm </button>
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
					</form>
                </ng-template>