	<div [@routerTransition]>
	<div class="alert alert-info">
	<div class="container">
        <div class ="row">
            <div class ="col-xs-10">
                <span class="title1"><i class="mdi mdi-washing-machine"></i>
                <strong>Laundry</strong></span>
            </div>
            <div class ="ml-auto col-xs-2">
                <app-modal></app-modal>
            </div>
            </div>
    </div>
    </div>

    <div class ="container">
    

    <app-date [day]="0"></app-date>
    <app-date [day]="1"></app-date>
    <app-date [day]="2"></app-date>
    <app-date [day]="3"></app-date>
    <app-date [day]="4"></app-date>
    <app-date [day]="5"></app-date>
    <app-date [day]="6"></app-date>

    </div>