<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div *ngIf="userType==='landlord'">
        <a routerLink="/building" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-building"></i>&nbsp;{{ 'Building' | translate }}
        </a>
        </div>
        <div *ngIf="userType==='tenet'">
        <a routerLink="/apartment" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="mdi mdi-home"></i>&nbsp;{{ 'Apartment' | translate }}
        </a>
        </div>
        <a [routerLink]="['/help']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-question"></i>&nbsp;{{ 'Help' | translate }}
        </a>
        <a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-rss"></i>&nbsp;{{ 'Blog' }}
        </a>

    </ul>
    
    <div *ngIf="navigationController===1">
	<ul class="list-group">
            <a [routerLink]="['/help']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-question"></i>&nbsp;{{ 'Help' | translate }}
            </a>
            <a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-rss"></i>&nbsp;{{ 'Blog' }}
            </a>
   
    </ul>
	</div>
</nav>
