
<div class ="row">
        <div class ="col-sm-2">
             <div class ="card card-info">
                    <div ng-app="" class="card-block">
                            <h4 class="text-center card-title">{{ counter | date }} </h4>
                    </div>
             </div>
        </div>
        <div class ="col-sm-10">
               <!--  <div class="card-group">
                        <div class="card card-success">
                          <div class="card-block">
                            <h4 class="card-title">08:00-11:00</h4>
							              <app-modal></app-modal>
                          </div>
                        </div>
                        <div class="card card-danger">
                                <div class="card-block">
                                  <h4 class="card-title">11:00-14:00</h4>
                                </div>
                              </div>
                              <div class="card card-success">
                                    <div class="card-block">
                                      <h4 class="card-title">14:00-17:00</h4>
                                    </div>
                                  </div>
                                  <div class="card card-success">
                                        <div class="card-block">
                                          <h4 class="card-title">17:00-20:00</h4>
                                        </div>
                                      </div>
                                      <div class="card card-success">
                                            <div class="card-block">
                                              <h4 class="card-title">20:00-23:00</h4>
                                            </div>
                                          </div>
    
                </div> -->


                    <app-modal></app-modal>

        </div>
        </div>