.title1{
    font-size: 1.4em;
  }

  .container{
    width: 100%;
  }

  .card-success{
   border: 1px solid #444;

  }

  .card-danger{
    border: 1px solid #444;

   }

   .card-info {
      border: 1px solid #444;
   border-radius: 0.25rem;
   }

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: none;
}

.addMargin {
    margin-bottom: 10px;
}

h4 {
    color: white;
}

.dateHeight{
    height: 83%;
    width: 97.3%;
  }