.title1{
  font-size: 1.4em;
}

.container{
  width: 100%;
}

.card-img-top {
  width: 20%;
}

.card {
    padding: 10px;
}

.card-block button {
    font-size: 15px;
}

.card-block-padding {
    margin: auto;
    padding: 0px;
}
