<div [@routerTransition]>
    <div class="alert alert-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
		<span class="title1"><i class="fa fa-wrench"></i>
        <strong>Maintenance</strong></span>
                </div>
                <div *ngIf="userType!='landlord'" class="ml-auto col-xs-2">
                    <app-modal-sendmain (change)="refresh()" [apartment]="apart"></app-modal-sendmain>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf=" zeroMain === 'loading'">
        <p>Loading...</p>
    </div>

    <div *ngIf=" zeroMain === 'true'" class="row">
        <p>You don't have any maintenance post.</p>
    </div>


    <div class="row" *ngIf=" zeroMain === 'false'">


        <div class="input-group" *ngFor="let m of mainList">
            <div class="card card-3">
                <!--<h5 class="text-center"> {{ m.title }}</h5>-->
                <div class="card-block">
                    <h3 class="text-center card-title">  {{ m.title }} </h3>
                    <h6 class="text-center"> {{ m.text }} </h6>
                </div>
                <ul *ngIf="userType === 'landlord'" class="list-group list-group-flush">
                    <li class="list-group-item">Apartment: {{ m.apartmantName }}</li>
                    <li class="list-group-item">Tenant Name: {{ m.username }}</li>
                    <li class="list-group-item">Date Received: {{ m.created_at }}</li>
                    <!--<li class="list-group-item">Buliding id: {{ building.id }}</li>-->
                </ul>


            </div>
            <span class="input-group-btn">
           <button *ngIf="userType === 'landlord'" class="btn confBtn btn-default btn-warning"><i class="fa fa-spinner"></i></button>
           <button *ngIf="userType === 'landlord'" class="btn confBtn btn-default btn-success"><i class="fa fa-check"></i></button>

           </span>
        </div>

    </div>

</div>
